<app-header></app-header>
<div class="container">

  <form [formGroup]="orderForm"> <!-- Thêm form và gán formGroup -->
    <div class="row">
      <div class="col-md-5">
        <h2 class="product-header" style="color: black;text-align: center; font-size: larger; font-weight: bolder;">
          THÔNG TIN ĐẶT HÀNG</h2>
        <div class="mb-3">
          <label for="fullname" class="form-label">Họ và Tên</label>
          <input type="text" formControlName="fullname" class="form-control" id="fullname"
            [class.is-invalid]="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched">
          @if(orderForm.get('fullname')!.invalid &&
          orderForm.get('fullname')!.touched) {
          <div class="invalid-feedback">
            Full name is required.
          </div>
          }
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" formControlName="email" class="form-control" id="email"
            [class.is-invalid]="orderForm.get('email')!.invalid && orderForm.get('email')!.touched">
          @if(orderForm.get('email')!.invalid
          && orderForm.get('email')!.touched) {
          <div class="invalid-feedback">
            {{ orderForm.get('email')!.hasError('email') ? 'Email không hợp lệ' : 'Email là trường bắt buộc' }}
          </div>
          }

        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Số điện thoại</label>
          <input type="text" class="form-control" formControlName="phone_number" placeholder="Số điện thoại" required
            id="phone"
            [class.is-invalid]="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched">
          @if(orderForm.get('phone_number')!.invalid
          && orderForm.get('phone_number')!.touched) {
          <div class="invalid-feedback">
            Phone number is required and must be at least 6 characters.
          </div>
          }
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Địa chỉ</label>
          <input type="text" class="form-control" formControlName="address" placeholder="Địa chỉ" required id="address"
            [class.is-invalid]="orderForm.get('address')!.invalid && orderForm.get('address')!.touched">
          @if(orderForm.get('address')!.invalid
          && orderForm.get('address')!.touched) {
          <div class="invalid-feedback">
            Address is required and must be at least 5 characters.
          </div>
          }

        </div>
        <div class="mb-3">
          <label for="note" class="form-label">Ghi chú</label>
          <input type="text" class="form-control" formControlName="note" placeholder="Ghi chú" required id="note">
        </div>
        <div class="mb-3">
          <label for="shippingMethod">Phương thức vận chuyển</label>
          <select class="form-control" id="shippingMethod" formControlName="shipping_method">
            <option value="express">Express</option>
            <option value="normal">Normal</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="paymentMethod">Phương thức thanh toán</label>
          <select class="form-control" id="paymentMethod" formControlName="payment_method">
            <option value="cod">Thanh toán khi nhận hàng(COD)</option>
            <option value="other">Phương thức khác</option>
          </select>
        </div>
        <!-- </form> -->
      </div>
      <div class="col-md-7">
        <h2 class="product-order"
          style="margin-bottom: 20px; text-align: center;font-size: large ;font-weight: bolder;">THÔNG TIN SẢN PHẨM</h2>
        <table>
          <tbody>
            <ng-container *ngFor="let item of cartItems; let i = index">
              <tr>
                <td>
                  <div class="product-info">
                    <img [src]="item.product.thumbnail" alt="Product Image" class="product-image"
                      style="border: 1 solid black !important;">
                    <span class="product-name" style="font-weight: bolder;">{{ item.product.name }}</span>
                  </div>
                </td>
                <td>
                  <div class="product-quantity" style="height: 10px;">
                    <b>
                      <div class="border-wrapper">
                        <button (click)="decreaseQuantity(i)" style="font-size: large; margin-right: 10px;">-</button>
                        <span style="font-size: large;">{{ item.quantity }}</span>
                        <button (click)="increaseQuantity(i)" style="font-size:large;margin-left: 10px;">+</button>
                      </div>
                    </b>
                  </div>
                </td>
                <td style="color: #e30019;"><b>{{ item.product.price | number:'1.0-0' }}</b></td>
                <td style="color: #e30019;"><b>{{ (item.product.price * item.quantity) | number:'1.0-0' }}</b></td>
                <td>
                  <button class="btn btn-danger" (click)="confirmDelete(i)">
                    Xóa
                  </button>
                </td>
              </tr>
            </ng-container>

          </tbody>
          <div class="text-start mt-3">

          </div>
          <div class="mt-3">
            <h4 class="product-header" style="text-align: center; margin-left: 20px; font-weight: bolder; font-size: larger; color: black; margin-bottom: 10px;">Nhập mã khuyến mãi</h4>
            <div class="input-group">
              <input type="text" style="margin-left: 20px;" class="form-control" formControlName="couponCode" placeholder="Nhập coupon">
              <button (click)="applyCoupon()" class="btn btn-gradient" type="button" style="background-color: #dc3545; margin-left: 5px; border: 1px solid #dc3545; border-radius: 5px; color: white; padding: 5px; width: 100px;">Áp dụng</button>
            </div>
          </div>
          @if(couponDiscount > 0) {
          <div class="text-start mt-3">
            <h6 class="header-text text-end ">You've been discounted: {{ couponDiscount | number:'1.0-0'}} đ</h6>
          </div>
          }

          <h4 style=" margin-left: 20px; margin-top: 10px; margin-bottom: 30px; font-weight: bolder; font-size: larger;">Tổng tiền: <span style="color: #e30019;">{{ totalAmount | number:'1.0-0'}} đ</span></h4>
          <!-- <div class="text-start mt-3">
            <button (click)="placeOrder()" class="" style=" background-color: #dc3545; margin-left: 20px; border: 1px solid #dc3545; border-radius: 5px; color: white; padding: 5px; margin-bottom: 20px;" type="button">THANH TOÁN</button>
          </div> -->
          <div class="text-start mt-3">
            <button 
                (click)="placeOrder()"
                class="btn btn-gradient" style=" background-color: #dc3545; margin-left: 20px; border: 1px solid #dc3545; border-radius: 5px; color: white; padding: 5px; margin-bottom: 20px; width: 130px" type="button">Thanh Toán</button>
        </div>
        </table>

        <!-- <div class="text-start mt-3">
                <h4 class="header-text text-end ">Total price: {{ totalAmount | number:'1.2-2'}} đ</h4>
            </div>
            <div class="mt-3">
                <h4 class="product-header">Enter coupon</h4>
                <div class="input-group">
                    <input type="text" class="form-control"
                        formControlName="couponCode"
                        placeholder="Nhập coupon">
                    <button
                        (click)="applyCoupon()"
                        class="btn btn-gradient" type="button">Apply</button>
                </div>
            </div>
            @if(couponDiscount > 0) {
                <div class="text-start mt-3">
                    <h6 class="header-text text-end ">You've been discounted: {{ couponDiscount | number:'1.2-2'}} đ</h6>
                </div>
            }
            <div class="text-start mt-3">
                <button
                    (click)="placeOrder()"
                    class="btn btn-gradient" type="button">Place order</button>
            </div>
        </div> -->
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>
